src/Torshify.Origo.Shell/Service References/PlaylistPlayerService/v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.torshify/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.torshify/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.torshify/v1/Imports">
      <xsd:import namespace="http://schemas.torshify/v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PlaylistPlayerService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Enqueue_InputMessage">
    <wsdl:part name="parameters" element="tns:Enqueue" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Enqueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueResponse" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Next_InputMessage">
    <wsdl:part name="parameters" element="tns:Next" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Next_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextResponse" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Previous_InputMessage">
    <wsdl:part name="parameters" element="tns:Previous" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_Previous_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreviousResponse" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_GetCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrent" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_GetCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_GetPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylist" />
  </wsdl:message>
  <wsdl:message name="PlaylistPlayerService_GetPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistResponse" />
  </wsdl:message>
  <wsdl:portType name="PlaylistPlayerService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/Initialize" message="tns:PlaylistPlayerService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/InitializeResponse" message="tns:PlaylistPlayerService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enqueue">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/Enqueue" message="tns:PlaylistPlayerService_Enqueue_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/EnqueueResponse" message="tns:PlaylistPlayerService_Enqueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Next">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/Next" message="tns:PlaylistPlayerService_Next_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/NextResponse" message="tns:PlaylistPlayerService_Next_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Previous">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/Previous" message="tns:PlaylistPlayerService_Previous_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/PreviousResponse" message="tns:PlaylistPlayerService_Previous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrent">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/GetCurrent" message="tns:PlaylistPlayerService_GetCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/GetCurrentResponse" message="tns:PlaylistPlayerService_GetCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaylist">
      <wsdl:input wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/GetPlaylist" message="tns:PlaylistPlayerService_GetPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.torshify/v1/PlaylistPlayerService/GetPlaylistResponse" message="tns:PlaylistPlayerService_GetPlaylist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>